In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import os
from glob import glob
from collections import OrderedDict
import xarray as xr
import numpy as np

import esmlab
import matplotlib.pyplot as plt
import cartopy
import cartopy.crs as ccrs
from scipy import stats
import pop_tools 

from statistics import mean
from matplotlib import style
from scipy import stats
import pandas as pd

style.use('default')
import matplotlib.path as mpath

from IPython.display import Image

In [17]:
df = pd.DataFrame(columns=['PFT_group','study', 'species', 'isolate_location','gChl/gC'])

In [18]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Attheya septentrionalis', 
                'isolate_location': 'Baffin Bay (77.8N, 76.4W), N. Atlantic Ocean',
                'gChl/gC':0.13}, ignore_index=True)

In [19]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Skeletonema dohrni', 
                'isolate_location': 'Kasitsna Bay (59.5N, 151.4W), Alaska',
                'gChl/gC':0.04}, ignore_index=True)

In [20]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Porosira glacialis', 
                'isolate_location': 'Narragansett Bay (41.6N, 71.4W), Rhode Island',
                'gChl/gC':0.06}, ignore_index=True)

In [21]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Melosira nummuloides', 
                'isolate_location': 'Harwich Harbor (41.7N, 70W), Massachusetts',
                'gChl/gC':0.04}, ignore_index=True)

In [22]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Odontella aurita', 
                'isolate_location': 'Webb Cove 44.2N, 69.5W), Stonington, Maine',
                'gChl/gC':0.05}, ignore_index=True)

In [25]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Thalassiosira antarctica', 
                'isolate_location': 'Oslo Fjord (59.5N, −10.6W), Norway',
                'gChl/gC':0.06}, ignore_index=True)

In [26]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Thalassiosira nordenskioeldii', 
                'isolate_location': 'Tromsø (69.7N, −18.7W), Norway',
                'gChl/gC':0.07}, ignore_index=True)

In [27]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Thalassiosira aestivalis', 
                'isolate_location': 'North Atlantic Ocean (42.7N, 69.6W)',
                'gChl/gC':0.04}, ignore_index=True)

In [28]:
df = df.append({'PFT_group': 'diat',
                'study': 'Lomas_etal_2019', 
                'species': 'Thalassiosira gravida', 
                'isolate_location': 'Tromsø (59.5N, −10.6W), Norway',
                'gChl/gC':0.06}, ignore_index=True)

### CESM diat gChl/gC:
#### diat: 0.046
#### sp: 0.028

In [29]:
df

,PFT_group,study,species,isolate_location,gChl/gC
0,diat,Lomas_etal_2019,Attheya septentrionalis,"Baffin Bay (77.8N, 76.4W), N. Atlantic Ocean",0.13
1,diat,Lomas_etal_2019,Skeletonema dohrni,"Kasitsna Bay (59.5N, 151.4W), Alaska",0.04
2,diat,Lomas_etal_2019,Porosira glacialis,"Narragansett Bay (41.6N, 71.4W), Rhode Island",0.06
3,diat,Lomas_etal_2019,Melosira nummuloides,"Harwich Harbor (41.7N, 70W), Massachusetts",0.04
4,diat,Lomas_etal_2019,Odontella aurita,"Webb Cove 44.2N, 69.5W), Stonington, Maine",0.05
5,diat,Lomas_etal_2019,Thalassiosira antarctica,"Oslo Fjord (59.5N, −10.6W), Norway",0.06
6,diat,Lomas_etal_2019,Thalassiosira nordenskioeldii,"Tromsø (69.7N, −18.7W), Norway",0.07
7,diat,Lomas_etal_2019,Thalassiosira aestivalis,"North Atlantic Ocean (42.7N, 69.6W)",0.04
8,diat,Lomas_etal_2019,Thalassiosira gravida,"Tromsø (59.5N, −10.6W), Norway",0.06